<?php

return array(
    'default_environment' => 'development',
    'path' => array(
        // migrations path is relative to current configuration dir
        'migrations' => '{{MIGRATIONS_DIR}}'
    ),
    'environments' => array(
        'development' => array(
            'dsn' => 'mongodb://localhost',
            'default_database' => 'test',
            'log_database' => 'test',
            'log_collection' => 'migrations',
        ),
        'staging' => array(
            'dsn' => 'mongodb://localhost',
            'default_database' => 'test',
            'log_database' => 'test',
            'log_collection' => 'migrations',
        ),
        'production' => array(
            'dsn' => 'mongodb://localhost',
            'default_database' => 'test',
            'log_database' => 'test',
            'log_collection' => 'migrations',
        ),
    ),
);
